.r-page{
    background: #dae0e6;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.r-content{
    display:flex;
    flex-direction:column;
    flex: 1;
}
.r-whole-post{
    display:flex;
    flex-direction: row;
    margin: 0.5em 1em 0 1em;
    border: 1px solid;
    min-height: 7em;
}
.r-score{
    background: #f8f9fa;
    font-weight: bold;
    width: 3em;
    text-align: center;   
    font-size: 0.75em;   
}


.r-score > .upvote{
    margin: 0.5em 0 0 0;
}
.r-score > p{
    margin: 0em 0 0 0;
}

.reddit-post{
    width: 100%;
    background: #FFFFFF;
    padding: 0 0 1em 1em;
}
.r-meta{
    margin-top:0.5em;

}
.r-meta > a > span{
    font-size: small;
}
.r-meta > a {
    text-decoration: none;
    color: black;
}
.r-meta > a:hover {
    text-decoration: underline;
}

.r-title{
   margin-top: 0em; 
}
.r-title1{
    text-decoration: none;
    color: black;
}
.r-title1:hover{
    text-decoration: none;
    color: #409ade;
}
.r-title > a > h3{
    margin: 0em 0 0.5em 0;
}
.r-title > a > p{
    margin: 0.25em 0 0.5em 0;
}

.reddit-flair{
    width: fit-content;
    padding: 0 0.25em 0 0.25em;
    font-weight: bold;
}

.r-text{
    margin-top: 1em;
}
.r-navbav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0 0.5em 0;
    background: #FFFFFF;
    position: sticky;
    top: 0;
}
.r-navbav > div{
    flex: 1;
}

.r-search{
    position: relative;
}

.form-icon{
    position: absolute;
    left: 1em;
    top: 1.1em;
}
.r-searchbar{
    display: flex;
    justify-content: center;
}

.r-search > input{
    max-width: 15em;
    width: 100%;
    border: 1px solid;
    border-radius: 50px;
    padding: 1em 2.5em;
    font-size: 1em;
    background-color: #f8f4fc;
    margin: 0 2em 0 0;
}
.r-search > input[type="text"]:focus{
    outline: none;
    border: 1px solid #409ade;
    background-color: #ffffff;
}
.pagination-div{
    margin-top: auto;
    
}

.pagination{
    list-style-type: none;
    display:flex;
    flex-direction: row;
    //border: 2px solid #409ade;
    justify-content: center;
}

.page-item{
    border: none;
    font-size: 1em;
    color: #409ade;
    background-color: #FFFFFF;
    width: 2em;
    
}
.page-item-bold{
    border: none;
    background-color: #008CBA;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 1em;
    width: 2em;
}
.popup-container{
    position: absolute;
    top: -1.5em;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    z-index: 2em;
}
.popup-container > input{
    width: 1.5em; 
}
.goToButton{
    position: relative;
}
.r-homepage{
    font-weight: bold;
    font-family: "VAGRounded";
    margin-left: 1em;
    margin-top: 1em;
}
.r-homepage > a{
    text-decoration: none;
    color: #409ade;
}
.r-img{  
    width: 100%;
    height: 100%;
    border: 4px soild black;
}

/* .r-img > img{
    width: 100%;
    height: auto;
    max-width: 80vw;
    max-height: 88vh;
} */

