html, body {
    //font: 14px "Century Gothic", Futura, sans-serif;
    font-family: 'Poppins', sans-serif;
    //margin: 20px;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    margin:0;
    padding:0;
}
@font-face {
  font-family: 'VAGRounded';
  src: local('VAG Rounded Regular'), url('./fonts/VAG Rounded Regular.ttf') format('truetype');
}

.header{
    height: 10vh;
    width: 100%;
}

.meme-nav{
    height: 100%;
    background: orange;
    //background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}
.meme-nav> .img-display{
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center; 
}
.meme-nav > .img-display > .course{
    color: white;
    margin-left: auto;
    font-size: 13px;
}
.meme-nav > .img-display > .toggle{
    color: white;
    margin-left: auto;
    margin-right: 5px;
    font-size: 13px;
}

.meme-nav > .img-display > .meme-title{
    margin-left: 5px;
    font-weight: bold;
    color: white;
}
.meme-nav> .img-display > img{
    margin-left: 5px;
    height: 50%;
}

.meme-content{
    
    margin: 1em 3em 1em;
    display:flex;
    flex-direction: column;
    
}

.meme-content >.input-box{
    flex: 1;
    display:flex;
    justify-content: space-between;
   
    width: 100%;
}
.meme-content >.input-box{
    flex: 1;
    display:flex;
    justify-content: space-between;
   
    width: 100%;
}

.meme-content >.input-box > label > input{
    line-height: 2em;
    border-radius: 2px;
    
}
.input-area{
    border: 2px solid #D5D4D8;
}
.meme-content >.meme-button {
    flex: 1;
    margin-top: 1em;
    width: 100%;
    
}
.meme-content >.meme-button > button{
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    width: 100%;
    font-size: 1em;
    line-height: 2em;
    color: white;
    border-radius: 5px;
    border: none;
}

.meme-content >.meme-button:hover> button{
    background: #4CAF50;
}

.meme-content >.result-image{
    margin-top: 1em;
    width: 100%;
    flex:3;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.meme-content >.result-image > img{
    width: auto;
    max-width: 100%;
    max-height: 300px;  
}

.meme-content >.result-image >.top--text {
    font-weight: bold;
    font-size:20px;
    top: 6px;
    position:absolute;
    color: white;
}
.meme-content >.result-image >.bottom--text {
    position:absolute;
    font-weight: bold;
    font-size:20px;
    bottom: 6px;
    color: white;
}

.input-area{
    line-height: 1.5em;
}

.nav{
    height: 100%;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}
.nav> .img-display{
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center; 
}
.nav> .img-display > img{
    margin-left: 5px;
    height: 50%;
}

.footer{
    margin-top: auto;
    height: 5vh;
    background-color: #24242D;
    
}


.main{
    flex:1;
    display:flex; 
    flex-direction: column;
    width: 100%;

    //background-color: #282D35; 
}
.main > .img-display{
    margin-top: 10px;
    flex: 1;
    max-width: 100%;
    display: flex;
    justify-content: center; 
}

.main> .img-display > img{
    height: auto;
    width: 100%;
    max-width: 1500px;
}

.main > .text{
    flex: 1;
    margin-left:10px;
    width: 50%;
}

.card{
    display:flex; 
    flex-direction: row;
    position: relative;
}
.card > .inner{
    max-width: 100%;
    
}
.card >.inner > img{
    height: auto;
    width: 100%;
    max-width: 200px;
}


.card >.inner > .text > p{
    font-size: 10px;
    margin-bottom: -0.9em;
}
.card >.inner > .text > .rate{
    font-size:10px;
    margin-bottom: -0.5em;
}
.card >.inner > .text > .rate> .gray{
    color: #808080
}

.card--badge{
    background-color: white;
    position: absolute;
    font-weight: bold;
    padding: 5px 7px;
    border-radius: 3px;
    margin-top: 6px;
    margin-left: 6px;
    font-size: 12px;
    
}

.list-of-card{
    display:flex; 
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;

}
